:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242629;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --synthesizer-width: 40rem;
  --synthesizer-height: 20rem;

  --led-color-green: #00e59c;
  --led-color-yellow: #ece674;
  --led-color-orange: #fd951d;
  --led-color-blue: #00c6fb;
  --led-color-off: #929292;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}